<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mini Project to test out technologies for the Isuroon project." />
    <meta name="keywords" content="Isuroon, Health, Review, Doctors" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Hack4Impact Carleton" />
    <title tr="Reviews">Isuroon MiniProj Reviews</title>
    <link rel="stylesheet" href="../src/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <i onclick="back()" class="glyphicon glyphicon-chevron-left" id="back_button"></i>
    <h1 id="doctor"></h1>
    <div id="review_container">
        <!-- Insert review cards using script-->
    </div>

    <script src="../src/review.js"> </script>
</body>

</html>