<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mini Project to test out technologies for the Isuroon project." />
    <meta name="keywords" content="Isuroon, Health, Review, Doctors" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Hack4Impact Carleton" />
    <title>Isuroon MiniProj 1</title>
    <link rel="stylesheet" href="../src/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div id="review_container">
        <span><a href="results.html" class="glyphicon glyphicon-chevron-left" id="back_button"></a></span>
        <h1 id="doctor"></h1>
        <!-- Insert review cards using script-->
    </div>

    <script src="../src/review.js"> </script>
    <script>
        window.onload = function () {
            var href_string = window.location.href;
            var url = new URL(href_string);
            var doctors_name = url.searchParams.get("name");
            document.getElementById('doctor').innerHTML = doctors_name + ":";
            createReviewCards();
        };
    </script>

</body>

</html>